.footer {
  background-color: #f7f7f7;
  margin-top: 251px;
  padding: 0 20px;
  &__top {
    display: block;
    padding-top: 96px;
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    &-r {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 776px;
    }
  }

  .footer__top-left {
    width: 204px;
    display: flex;
    flex-direction: column;
  }
  &__col-2 {
    padding-bottom: 20px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    & > a {
      padding-bottom: 24px;
    }
  }

  &__col-3 {
    padding-bottom: 20px;
    padding-right: 40px;

    display: flex;
    flex-direction: column;
    & > a {
      padding-bottom: 24px;
    }
  }
  a {
    font-family: $montserrat;
  }
  &__col-4 {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding-right: 40px;

    & > a {
      padding-bottom: 24px;
    }
  }
  .ba {
    font-family: $merri;
    font-size: 18px;
    font-weight: bold;
  }
  h5 {
    margin: 0;
    font-size: 24px;
  }

  &__down {
    padding-top: 117px;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      max-width: 1238px;
      height: 1px;
      background-color: #000;
      position: absolute;
      opacity: 0.2;
    }
  }
  &__wrapper1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 28px 0;
  }
  p {
    line-height: 1.8;
    font-family: $montserrat;
  }
  &__right-nav {
    padding-left: 42px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & li {
      padding-bottom: 12px;
      margin-right: 48px;
    }
  }
}
