.header {
  background-image: url(../../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;

  &__top {
    padding: 30px 61px 0 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__user {
    cursor: pointer;
    display: flex;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
    img:not(:last-child) {
      margin-right: 12px;
    }
  }
}
.header__block {
  padding: 0 20px;
}
.header__title {
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
  margin: 224px 636px 0 40px;
  width: 100%;
  max-width: 741px;

  background-color: #fff;
}

.title__inner {
  padding: 96px 196px 20px 64px;

  h1 {
    font-size: 2.4375em;
    font-weight: 700;
  }
  p {
    padding: 29px 0 29px 0;
    font-family: $montserrat;
  }
  span {
    color: $orange;
  }
}

.button {
  display: block;
  background-color: $orange;
  display: block;
  width: 250px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all ease-in;
  a {
    margin-left: 8px;
    text-decoration: none;
    color: #fff;
    font-family: $montserrat;
    font-weight: 500;
  }
}

.main__content {
  z-index: 100;
}

.button:hover {
  cursor: pointer;
  background-color: #ff6644;
}
