.main {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;

  &__item {
    padding: 0 20px 0 20px;
  }
  &__item:not(:last-child) {
    margin-right: 51px;
  }

  &__title {
    font-size: 20px;
  }
  &__subtitle {
    font-family: $montserrat;
  }
  &__subtitle2 {
    font-family: $montserrat;
    color: $orange;
    font-weight: 600;
  }
}
